<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    {{{ assets }}} 

    <!-- fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>
	
	<header>
	  <center><h2><a href="/">{{ site.title }}</a></h2></center>
	</header>

	<!--
    <div class="columns-container">

	  <div class="left-column">
		<div class="nav">
		  <ul class="nav">
			{{# site.navigation?to_pages }}
			  {{> pages_list }}
			{{/ site.navigation?to_pages }}
		  </ul>
		</div>
      </div>

    
	</div>
	-->
    <div class="box">
      {{{ content }}}
    </div>
    <footer>
        <p><center>
        made with <a href="http://github.com/wendal/gor" target="_blank"
                     title="Gor -- Fast Blog">
        gor</a>,
	    a go implementation of <a href="http://ruhoh.com" target="_blank"
                                  title="The Definitive Technical Blogging Framework">
        ruhoh</a>
        </center></p>
    </footer>

    <!-- highlight.js -->
    <link rel="stylesheet" href="//highlightjs.org/static/demo/styles/solarized-light.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Noto Sans -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Noto+Sans">
	<!-- M+ fonts -->
	<link rel="stylesheet" type="text/css"
	      href="http://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus_webfonts.css">
    <!-- MathJax -->
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
    </script>
  </body>
</html>
